:root {
    --light-gray: #333636;
    --dark-gray: #232626;
    --my-yellow: #ffc107;
}

/* This is for components to stay on top */
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.error-h1{
    text-align: center;
    margin-top: 50vh;
}
.rounded-my{
    border-radius: 40% !important;
}

.lang-gloss{
    background-color:  var(--light-gray);
    color: var(--my-yellow);
    text-decoration: none

}

/* Default body style with dark gray background*/
body {
    font-family: Arial, serif;
    color: gray;
    /*background-color: #1d2b29;*/
    /*background-color: #232626;*/
    background-color: var(--dark-gray);
}
.tags_buttons{
    padding: 10%;
}
.tag_button{
    color: black;
    background-color: var(--my-yellow);
    border-color: var(--my-yellow);
    margin-right: 3%;
    margin-bottom: 3%;
}
.tag_button:hover{
    color: red;
    background-color: transparent;
    border-color: red;
    margin-right: 3%;
    margin-bottom: 3%;

}
/* Scroll view for 80 % of page*/
.scrollable-80 {
    overflow-y: scroll;
    height: 75vh;
}
.scrollable-85 {
    overflow-y: scroll;
    height: 82vh;
}
.padding-head{
    padding: 4vh;
}

/* Second body style with light gray background*/
.bg-lg-gr{
    /*background-color: #333636;*/
    background-color:  var(--light-gray);
    color: wheat;
    text-decoration: none
}

.tag_row{
    background-color: var(--light-gray);
    color: gray;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    /*text-align: center;*/
    text-align: right;
}
.lang{
    margin-bottom: 0;
    border-bottom: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;

}
.tags{
    /*border: 1px solid;*/
    margin-bottom: 0;
    text-align: left;
    color: gray;
}
.tag{
    /*width: max-content;*/
    display: table-cell!important;
    padding-right: 10px;
    color: gray;
    margin-right: 1.5%;
    border-spacing: 30px;
}
.tag_gloss{
    width: min-content;
    display: table-cell!important;
    color: var(--my-yellow);
    border-bottom: solid 1px;
    margin-right: 1.5%;
    border-color: var(--my-yellow) ;
}

.form-control:focus{
    outline: none !important;
    box-shadow: 0 0 0 ;
    border: 0;
}





/* Change style of Markdown editor*/
.editor-statusbar {
    padding: 0!important;
}

/* Change style of Markdown notes */
blockquote{
    background-color: rgba(0,0,0,.1);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.1);
}

.invalid-input{
    border-color: red;
    border-style: solid;
    /*border-style: inset;*/
}


.abstract{
    text-align: left;
    word-break: break-word;
    white-space: pre-wrap;
    -moz-white-space: pre-wrap;
}

.btn-outline-warning:hover{
    color: var(--dark-gray);
}

#lang_alert {
    display: none;
    color: gray;
}
#tag_alert{
    display: none;
    color: gray;
}
#term_alert{
    display: none;
    color: gray;
}
#cannot_create{
    display: none;
    color: gray;
}
#tag_exist{
    display: none;
    color: gray;
}

/*color of toolbar*/
#md_editor .editor-toolbar{
    background-color: var(--light-gray)!important;
}
/* color for buttons in toolbar*/
#md_editor .editor-toolbar a{
    color: var(--my-yellow)!important;
}
/* fulscreen left padding*/
#md_editor .editor-toolbar.fullscreen::before{
    width: 0;
    height: 0;
}
/* fulscreen right padding*/
#md_editor .editor-toolbar.fullscreen::after{
    width: 0;
    height: 0;
}
/* left side of code*/
#md_editor .CodeMirror-fullscreen{

}
/* Change style of Markdown editor*/
.CodeMirror {
    height:65vh!important;
}

/* Change style of Markdown editor*/
.CodeMirror-fullscreen,
.fullscreen {
    height: 100vh!important;
    background-color: white!important;
}




.ui-menu .ui-menu-item{
    background-color:  var(--light-gray);
    color: wheat;
    border-color: var(--light-gray) ;
}
.ui-widget.ui-widget-content{
    background-color:  var(--light-gray);
    color: wheat;
    border-color: var(--light-gray) ;
    border: 1px solid var(--light-gray) !important;
}


.ui-menu-item-wrapper{
    background-color: var(--light-gray)!important;
    color: wheat!important;
    border-color: var(--light-gray)!important;
    border: 1px solid var(--light-gray) !important;
}

.ui-menu-item-wrapper:hover{
    background-color: var( --my-yellow)!important;
    color: black!important;
    outline: var( --my-yellow)!important;
    border: 1px solid var(--light-gray) !important;
}


/*exact tags switch*/
.form-check-input:checked{
    background-color:  var( --my-yellow);
    border-color:  var( --my-yellow);
}



pre code{
    color: #d63384;
    word-wrap: break-word;
}