{% load i18n %}
<!--delete button, deletes gloss-->
<button onclick="delete_gloss()" type="button" class="btn btn-outline-warning m-3">
    <i class="fa fa-trash-o"></i> </button>

 <script>
    /**
    * create post to delete
    * render search page for success
    * render alert for failure
    * */
    function delete_gloss(){
        let isConfirmed = confirm("Are you sure you wont to delete this gloss?");
        if (isConfirmed) {
            $.ajax({
                type: 'post',
                'url': '/delete/',
                data:{
                    'id': {{ id }},
                    'lang': '{{ lang }}',
                    'from': '{{ from }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'

                },
                success: function(response){
                    if(!response["valid"]){
                        alert(response["message"]);
                    }
                    else {
                        if(response["from"] === "gloss")
                            window.location.href = '/' + response["from"] + '/?searched={{ searched }}'
                        else
                            window.location.href = '/' + response["from"] + '/?searched={{ searched }}' + get_search_params()
                    }
                },
                error: function(response) {
                    const data = JSON.parse(response.responseText);
                    alert(data["message"]);
                }
            });
        }
    }
</script>