<!--Construct two components together-->
<div class="col-1 p-0">
    {% include 'glossary/components/buttons/edit_button.html' with id=id lang=lang %}
</div>
<div class="col-1 ps-1">
    {% include 'glossary/components/buttons/delete_button.html' with id=id lang=lang %}
</div>