<!--Edit button which have href to editor page-->
<button onclick="location.href='{% url 'editor' concept=id%}?query={{ lang }}&searched={{ searched }}'" type="button"
         class="btn btn-outline-warning m-3"> <i class="fa fa-pencil"></i> </button>