{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- AJAX -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <!--Icon Font-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css files  -->
      <link rel="stylesheet" type= "text/css" href="{% static 'style.css' %}">
    <!-- markdown editor  https://github.com/sparksuite/simplemde-markdown-editor -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
      <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
      <!-- tag field -->
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

      <link rel="icon" href="{% static 'img/favicon.ico' %}">
      <script src="{% static 'js/popupTagFunction.js' %}"></script>
      <title>Glossary</title>
      <style>
        .btn-outline-success{
            padding: 2px 4px;
            border-color: transparent;
            padding-top: 0;
        }
        .btn-outline-success:hover {
            background-color: transparent;
            color: #198754;
            border-color: #198754;
            padding-top: 0;
        }
    </style>

  </head>


    <body>

        {% block content %}

        {% endblock %}

    </body>
    <script>
        createPopUps(path_to_glossary="/", lang="cz");
    </script>
</html>

