{% extends 'glossary/pages/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <head>
        <script src="{% static 'js/editor_functions.js' %}"></script>
    </head>
    <!--Main page button and name of Term-->
    <div class="page-header p-2 bg-lg-gr row">
        <div class="col-6">
             <button onclick="location.href='{% url 'main' %}'" type="button" class="btn btn-outline-warning">
                 {% trans "Main Page" %}</button>
        </div>
        <div class="col-6">
             <h1 >{{ term }}</h1> <!--TODO automatic rewrite term-->
        </div>
    </div>


 <!--Add tags and language-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="m-2 pt-3">
                    {% include 'glossary/components/fields/language_radio_field.html' %}
                        <div class="mt-5 mb-5">
                            <div id="tag_alert">
                                {% include "glossary/components/alert.html" with message=_("Add tags or use different ones") id="tag_alert" %}
                            </div>
                            {% include 'glossary/components/fields/add_tag_filed.html' %}
                            {% if id and lang %}
                                {% load get_tags from objects_access %}
                                {% get_tags id lang as old_tags %}
                                {% include 'glossary/components/fields/tag_filed.html' with tags=old_tags page="editor" %}
                            {% else %}
                                {% include 'glossary/components/fields/tag_filed.html' with page="editor" %}
                            {% endif %}
                        </div>
                    {% include 'glossary/components/fields/abstract_field.html' %}
                </div>
            </div>

            <!--Editor and gloss name form-->
            <div class="col-12 col-md-8 ">
                <div id="term_alert">
                    {% include "glossary/components/alert.html" with message=_("Use different name") id="term_alert" %}
                </div>
                <form>
                  <div class="form-group pb-2">
                      <label for="name_gloss">{% trans "Name of Gloss:" %}</label>
                      {% load get_max_length from objects_access %}
                      {% get_max_length "" as lenght %}
                      <input id="in_name" class="form-control gloss_name" type="text"  placeholder={% if term %}"{{ term }}"{% else %}"{% trans "Input Gloss name" %}"{% endif %}
                             value="{% if term %}{{ term }}{% endif %}" required maxlength={{ lenght }}>
                  </div>
                </form>
                <div id="md_editor">
                    <textarea name="text" id="editor" >{% if term %}{{ body }}{% endif %}</textarea>
                </div>
                <span class="pull-right">
                    <button onclick="save()" type="button" class="btn btn-outline-warning">{% trans "Save" %}</button>
                </span>
            </div>
        </div>
    </div>


    <script>
        /**
         * create post request to save gloss
         * show alerts based on failure
         */
        function save(){
            hide_alert()

            let name = document.getElementById("in_name").value;
            let language = document.querySelector( 'input[name="options-language"]:checked').id;
            let abstract = document.getElementById("abstract").value;
            {#let tags = document.getElementById("tags").value.replace(" ", "");#}
            let param_tags = get_selected_tags()
            let tags = param_tags.toString()
            if (language == null) {
                alert("Language should be selected");
                return;
            }
            $.ajax({
                type: 'post',
                'url': '/editor/',
                data:{
                    'term_name': name,
                    'body': simplemde.value(),
                    'new_lang': language,
                    'abstract': abstract,
                    'tags': tags,
                    {% if id %} 'id': {{ id }}, {% endif %}
                    {% if lang %} 'lang': '{{ lang }}', {% endif %}
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (!response["valid"]) {
                        window.location.href = '{% url 'error' %}';
                    }
                    else {
                        window.location.href = '/gloss/'+ response.id + '/?lang=' + response.lang
                        {% if searched %} + '&searched=' + '{{ searched }}' {% endif %};
                    }
                },
                error: function(response) {
                    const data = JSON.parse(response.responseText);
                    alert(data["message"]);
                    if (data["except"] === "empty_name") {
                        display_alert(["term_alert"])
                    }
                    if (data["except"] === "lang_conc") {
                         display_alert(["lang_alert"])
                    }
                    if (data["except"] === "no_tag") {
                        display_alert(["tag_alert"])
                    }
                    if (data["except"] === "name_lang_conc") {
                        display_alert(["lang_alert", "term_alert"])
                    }
                    if (data["except"] === "name_lang_tag") {
                        display_alert(["lang_alert", "term_alert", "tag_alert"])
                    }

                    reloadStylesheets();
               }
                }
            );
        }
        let simplemde = new SimpleMDE({
            element: document.getElementById("editor")});

    </script>
{% endblock %}