{% extends 'glossary/pages/base.html' %}
{% load i18n %}
{% load markdown_extras %}
{% block content %}
   <div class="container-fluid">
       <div class="row">
           <div class="col-12 col-md-3 p-3">
               <div class="row">
                   <div class="col-6">
                        <button onclick="location.href='{% url 'main' concept=id%}?query={{ lang }}'"
                        type="button" class="btn btn-outline-warning sticky-top ms-2">{% trans "Main Page" %}</button>
                   </div>
                   <div class="col-6 ps-0 text-end">
                       {% include 'glossary/components/buttons/button.html' with location_url='editor' button_name=_('Add New') %}
                   </div>
               </div>
               <div>
                   {% include 'glossary/components/search_bar.html' with page='gloss'  searched=searched %}
               </div>
           </div>
           <div class="col-12 col-md-9 p-3 bg-lg-gr vh-100">
               <div class ="row align-items-start sticky-top">
                   {% include 'glossary/components/term_row.html' with from='gloss' %}
               </div>
                    {% include 'glossary/components/tag_row.html' %}
               <div class="scrollable-80" >
                  <p>{{ body | markdown | safe | linebreaksbr }}</p>
               </div>
           </div>
       </div>
   </div>
{% endblock %}