{% extends 'glossary/pages/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <head>
        <script src="{% static 'js/switch_check.js' %}"></script>
    </head>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3 p-3">
            <div class="p-2 sticky-top">
                <div class="row">
                    <div class="col-6">
                        {% include 'glossary/components/buttons/button.html' with location_url='main' button_name=_('Main Page') %}
                    </div>
                    <div class="col-6 ps-0 text-end">
                       {% include 'glossary/components/buttons/button.html' with location_url='editor' button_name=_('Add New') %}
                    </div>
                </div>

                <div class="row">
                    <div class="pt-3 me-4 text-end">
                        {% include 'glossary/components/fields/language_check_filed.html' %}
                    </div>
                    <div class="form-check form-switch mt-2 m-3">
                        <input class="form-check-input" onclick="ChangeCheckboxLabel(this)" type="checkbox" id="tag_switch"
                               name="tag_switch"
                               {% if exact_tags == 'True' %} checked{% endif %}>
                               {% if exact_tags == 'True' %}
                                    <span id="my-checkbox-checked" style="display:inline;">{% trans "all tags" %}</span>
                                    <span id="my-checkbox-unchecked" style="display:none;">{% trans "any tag" %}</span>
                               {% else %}
                                   <span id="my-checkbox-checked" style="display:none;">{% trans "all tags" %}</span>
                                    <span id="my-checkbox-unchecked" style="display:inline;">{% trans "any tag" %}</span>
                               {% endif %}
                    </div>
                    {% include 'glossary/components/fields/tag_filed.html' with tags=param_tags page="main" %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 p-3">
          {% include 'glossary/components/search_bar.html' with page='main'%}
        </div>
        <div class="col-md-6 d-none d-md-block bg-lg-gr vh-100">
             {% include 'glossary/pages/main/term_page.html' %}
        </div>
      </div>
    </div>
{% endblock %}
