<!-- alert
param: message to display-->
<div  class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
 <button type="button" class="btn-close" onclick="toggle_display('{{ id }}')" aria-label="Close"></button>
</div>
<script>
    function toggle_display(id){
        document.getElementById(id).style.display = "none";
    }
</script>