{% load static %}
{% load i18n %}

<head>
    <script src="{% static 'js/search_functions.js' %}"></script>
</head>
<!-- search bar and results-->
<nav class="navbar navbar-dark sticky-top">
    <div class="container-fluid p-0">
        <form id="search_url" class="d-flex w-100" method=POST action="{% url 'search' %}?query={{ page }}">
            {% csrf_token %}
            <div class="input-group mb-3">
            <input class="form-control" type="search" placeholder={% if searched %} "{{ searched }}" {% else %} {% trans "Search"%} {% endif %}
                   aria-label="Search" id="searched" name="searched" value="{% if searched %}{{ searched }}{% endif %}">
            <button class="btn btn-outline-warning" type="submit" onclick="add_search_param()">{% trans "Search" %}</button>
            </div>
        </form>
    </div>
</nav>
{% if page == "gloss" %}
    <div class="d-none d-md-block ">
{% endif %}
<div class="scrollable-85">
    <div class="d-grid gap-2">
        {% for spec in term_result %}
            <button onclick="get_result({{ spec.concept.id }}, '{{ spec.language.name }}')"
            type="button" class="btn btn-outline-warning "
                    style="border: 0;border-radius: 0;border-left: 5px solid;">
            {% include "glossary/components/fields/gloss_preview.html" %}
            </button>
        {% endfor %}
    </div>
</div>
{% if page == "gloss" %}
    </div>
{% endif %}

<script>
    /**
     * Return specific gloss
     * @param concept defines gloss
     * @param language defines gloss
     */
    function get_result(concept, language){
        if (screen.width < 768){
            window.location.href = '/gloss/'+ concept + '?lang='+language + '&searched={{ searched }}'
        }
        {% if param_tags %}

        {#let param_tags = document.getElementById("tags").value.split(",");#}
            let param_tags = get_selected_tags()
            let text = param_tags.toString()
        {#let text = tags_to_text(param_tags, param_tags.length);#}
        {% endif %}
         $.ajax({
             type: 'get',
             'url': '/search/',
             data: {
                 'searched': '{{ searched }}',
                 'id': concept,
                 'lang': language,
                 {% if param_tags %}
                 'param_tags': text,
                 'exact_tags': '{{ exact_tags }}',
                {% endif %}

             },
             success: function(response){
                 console.log(response)
                 if('{{ page }}' === 'main'){
                     window.location.href = '/search/?searched={{ searched }}&id=' + concept + '&lang='
                             + language + get_search_params()
                 }
                 else if('{{ page }}' === 'gloss'){
                     window.location.href = '/gloss/'+ concept + '?lang='+language + '&searched={{ searched }}'
                 }
             }
         }
         );
    }
</script>