<!-- tag row use in term page -->
<div class ="row tag_row d-flex flex-row-reverse">
    {% load get_tags from objects_access %}
    {% get_tags id lang as tags %}
    {% for t in tags %}
        <div class="tag_gloss"> {{ t }} </div>
    {% endfor %}
</div>