<div class="col-2 col-md-1">
    <h2 class=" text-center lang-gloss pt-3">{{ lang }}</h2>
</div>
<div class="col-6 col-md-9">
    {% if from == "gloss" %}
        <h1 class="h1 text-center p-3 sticky-top">{{ term }}</h1>
    {% else %}
        <a href="{% url 'gloss' concept=id %}?lang={{ lang }}&searched={{ searched }}" style="text-decoration: none;">
            <h1 class="h1 text-center p-3 bg-lg-gr">{{ term }}</h1>
        </a>
    {% endif %}
</div>
<div class="col-2 col-md-1 p-0">
    {% include 'glossary/components/buttons/edit_button.html' with id=id lang=lang %}
</div>
<div class="col-2 col-md-1 ps-1">
    {% include 'glossary/components/buttons/delete_button.html' with id=id lang=lang %}
</div>
