{% load i18n %}
<!-- Abstract input field, first load abstract from objects and paste it to input-->
<div class="form-group" id="abstract_field">
    <label for="abstract">{% trans "Abstract of Gloss" %}</label>
    {% load get_max_length from objects_access %}
    {% get_max_length "abstract" as lenght %}
    {% if id and lang %}
        {% load get_abstract from objects_access %}
        {% get_abstract id lang True as old_abstract %}
    {% endif %}
    <textarea class="form-control"  id="abstract" rows="5" maxlength={{ lenght }}>{{ old_abstract }}</textarea>
    <div class="pull-right">
        {% trans "This filed is optional" %}
    </div>
</div>