{% load i18n %}
<!-- input field to create new tag-->
<div id="tag_exist">
    {% include "glossary/components/alert.html" with message=_("Tag already exists") id="tag_exist" %}
</div>
<div id="cannot_create">
    {% include "glossary/components/alert.html" with message=_("Tag can not be created") id="cannot_create" %}
</div>
<div class="input-group mb-3">
    {% load get_max_length from objects_access %}
    {% get_max_length ""  as lenghth %}
    <input type="text" class="form-control" id="tag_input" maxlength={{ lenghth }} placeholder="{% trans "Add new tag" %}" >
    <button class="btn btn-outline-warning"  onclick="create_tag()" type="button" id="add_tag">{% trans "Create" %}</button>
</div>

<script>
    function create_tag(){
        let new_tag = document.getElementById("tag_input").value
        if (new_tag.replace(' ', '') !== '') {
         $.ajax({
             type: 'post',
             'url': '/tag/',
             data: {
                 'tag': new_tag,
                 'csrfmiddlewaretoken': '{{ csrf_token }}'
             },
             success: function (response) {
                 if (!response["valid"]) {
                     document.getElementById("cannot_create").style.display = "block";
                 } else {
                     document.getElementById("tag_input").value = "";
                     availableTags.push(new_tag);

                 }
             },
             error: function (response) {
                 const data = JSON.parse(response.responseText);
                 if (data["except"] === "tag_exist") {
                     document.getElementById("tag_exist").style.display = "block";
                 } else {
                     document.getElementById("cannot_create").style.display = "block";
                 }
             }
         })
         }
     }
     // prevent white space
     $("input#tag_input").on({
        keydown: function(e) {
            if (e.which === 32) //prevent whitespace
                return false;
            },
        change: function() {
            this.value = this.value.replace(/\s/g, "");
        }
     });

</script>