<!-- Preview has name ogf gloss, their language, abstract and tags -->
<div class="row">
    <div class="col-10"><h4>{{ spec.name }}</h4></div>
    <div class="col-2"><p class="lang">{{ spec.language }}</p></div>
</div>
{% load get_abstract from objects_access %}
{% get_abstract spec.concept spec.language as abstract %}
    <p class="abstract">{{ abstract }}</p>
{% load get_tags from objects_access %}
{% get_tags spec.concept spec.language as tags %}
    {% for t in tags %}
        <div class="tag"> {{ t }} </div>
    {% endfor %}