<!-- Language check buttons -->
{% load get_languages from objects_access %}
{% get_languages as languages %}
{% for l in languages %}
    <div class="form-check form-check-inline m-0 p-1">
         <input type="checkbox" class="btn-check" name="option-language" id="{{ l.name }}" value="{{ l.name }}"
                 {% if l.name in param_lang %} checked {% endif %}>
         <label class="btn btn-outline-warning" for="{{ l.name }}" >{{ l.name }}</label>
    </div>
{% endfor %}