{% load i18n %}
<!-- Language radio buttons -->
{% load get_languages from objects_access %}
{% get_languages as languages %}
    <label>{% trans "Chose language:" %}</label>
    </br>
    <div id="lang_alert">
        {% include "glossary/components/alert.html" with message=_("You should chose another language") id="lang_alert" %}
    </div>

    {% for l in languages %}
        <div class="form-check form-check-inline m-0 p-1">
             <input type="radio" class="btn-check" name="options-language" id="{{ l.name }}" value="{{ l.name }}"
                    {% if lang and lang == l.name or not lang %}autocomplete="off" checked{% endif %}>
             <label class="btn btn-outline-warning rounded-my" for="{{ l.name }}" >{{ l.name }}</label>
        </div>
    {% endfor %}