{% load i18n %}
<!-- Tag field with autocomplete field of existings tags-->
<div class="tags_buttons" id="selected_tags"></div>

<div class="ui-widget">
    <label for="tags">{% trans "Chose tags:" %}</label>
{#    <textarea class="d-flex w-100 form-control" id="tags">{% if tags %}{% for tag in tags %}{{ tag }}, {% endfor %}{% endif %}</textarea>#}
    <textarea class="d-flex w-100 form-control" id="tags"></textarea>
</div>



{#from https://jqueryui.com/resources/demos/autocomplete/multiple.html#}
 <script>
    let availableTags = []
    let selectedTags = []
    function get_selected_tags(){
        return selectedTags;
    }
    function create_tag_button(tag_text){
        selectedTags.push(tag_text)
                        let tags_field = document.getElementById("selected_tags")
                        let btn = document.createElement("button");
                        btn.innerHTML = tag_text
                        btn.className = "btn tag_button"
                        btn.id = tag_text
                        btn.onclick = function (){
                            const index = selectedTags.indexOf(btn.innerHTML)
                            if (index > -1) {
                                selectedTags.splice(index, 1);
                            }
                            tags_field.removeChild(btn)
                        }
                        tags_field.appendChild(btn)
    }

    const escapeRegExpMatch = function(s) {
        return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
    };
    const isExactMatch = (str, match) => {
      return new RegExp(`\\b${escapeRegExpMatch(match)}\\b`).test(str)
    }
    $( function() {
        {% load get_all_tags from objects_access %}
        {% get_all_tags page as all_tags%}
         availableTags = {{ all_tags|safe }};
        {% for t in tags %}
            create_tag_button('{{ t }}')
        {% endfor %}

        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }

        $( "#tags" )
            .on( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                        $( this ).autocomplete( "instance" ).menu.active ) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function( request, response ) {
                    // delegate back to autocomplete, but extract the last term
                    response( $.ui.autocomplete.filter(
                        availableTags, extractLast( request.term ) ) );
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();

                    {#if (isExactMatch(this.value, ui.item.value )){#}
                    {#    terms.push( "" );#}
                    {#    this.value = terms.join(", ");#}
                    {#    return false;#}

                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    this.value = ""

                    if (!selectedTags.includes(ui.item.value)) {
                        create_tag_button(ui.item.value)
                    }


                    return false;
                }
            });
    } );
 </script>