{% load objects_access %}
<!--gloss page with name, tags and definition -->
{% load markdown_extras %}

<div class ="row align-items-start sticky-top bg-lg-gr">
    {% include 'glossary/components/term_row.html' with from="search" %}
</div>
 {% include 'glossary/components/tag_row.html'%}
<a href="{% url 'gloss' concept=id %}?lang={{ lang }}&searched={{ searched }}" style="text-decoration: none;">
    <div class="scrollable-80" >
        <div class="bg-lg-gr">
            <p>{{ body | markdown | my_filter | safe | linebreaksbr }}</p>
      </div>
    </div>
</a>
